@using Tracker.Models
@model IList<Ticket>
@{
}
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model[0].Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Priority)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Type.Type)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Status.Status)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Submitter)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Assignee)
			</th>
			<th>
				@Html.DisplayNameFor(model => model[0].Created)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a asp-page="./Ticket" asp-route-id="@item.Id" asp-route-projectid="@Model[0].ProjectId">
						@Html.DisplayFor(modelItem => item.Title)
					</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Priority)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Type.Type)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Status.Status)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Submitter.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Assignee.UserName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Created)
				</td>
				<td>
					<a asp-page="./Delete" asp-route-id="@item.Id" asp-route-projectid="@Model[0].ProjectId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>