@page "/Projects/{projectid?}/Tickets/{id?}/Delete"
@model Tracker.Pages.Tickets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Type.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Type.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Status.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Status.Status)
        </dd>
        <dt class="col-sm-2">
            Submitter
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Submitter.UserName)
        </dd>
        <dt class="col-sm-2">
            Assignee
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Assignee.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Created)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ticket.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index" asp-route-projectid="@Model.Ticket.ProjectId" class="btn btn-primary">Back to List</a>
    </form>
</div>
