@page "/Projects/{projectid?}/Tickets/{id?}/Details"
@model Tracker.Pages.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Type.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Type.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Status.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Status.Status)
        </dd>
        <dt class="col-sm-2">
            Submitter
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Submitter.UserName)
        </dd>
        <dt class="col-sm-2">
            Assignee
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Assignee.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Created)
        </dd>
        @{
            if(@Model.Ticket.TicketStatusId == 2)
            {
                @:<dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Ticket.Closed)
                @:</dt>
                @:<dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Ticket.Closed)
                @:</dd>   
            }
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ticket.Id" asp-route-projectid="@Model.Ticket.ProjectId">Edit</a> |
    <a asp-page="./Index" asp-route-projectid="@Model.Ticket.ProjectId">Back to List</a>
</div>
