@using Microsoft.EntityFrameworkCore
@using Tracker.Models
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> userManager

<button class="btn btn-primary" @onclick="ShowOpen">Show open</button> | 
<button class="btn btn-primary" @onclick="ShowClosed">Show closed</button> | 
<button class="btn btn-primary" @onclick="ShowAll">Show all</button>

@if (TicketsTable == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>
					Title
				</th>
				<th>
					Description
				</th>
				<th>
					Priority
				</th>
				<th>
					Type
				</th>
				<th>
					Status
				</th>
				<th>
					Submitter
				</th>
				<th>
					Assignee
				</th>
				<th>
					Created
				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in TicketsTable)
			{
				<tr>
					<td>
						<a href="/Projects/@TicketsTable.FirstOrDefault().ProjectId/Tickets/@item.Id" class="btn btn-outline-primary">
							@item.Title
						</a>
					</td>
					<td>
						@item.Description
					</td>
					<td>
						@item.Priority
					</td>
					<td>
						@item.Type
					</td>
					<td>
						@item.Status
					</td>
					<td>
						@Users.FirstOrDefault(u => u.Id == item.SubmitterId).Email
					</td>
					<td>
						@Users.FirstOrDefault(u => u.Id == item.AssigneeId).Email
					</td>
					<td>
						@item.Created
					</td>
				</tr>
			}
		</tbody>
	</table>
}


@code {
	[Parameter]
	public IEnumerable<TicketDto>? Tickets { get; set; }

	public IEnumerable<TicketDto> TicketsTable { get; set; }
	public IEnumerable<ApplicationUser> Users { get; set; }

	protected override void OnInitialized()
	{
		base.OnInitialized();
		if (Tickets != null)
		{
			TicketsTable = Tickets.Where(t => t.Status == "open").ToList();
			Users = userManager.Users;
		}
	}

	public void ShowOpen()
	{
		if (Tickets != null)
		{
			TicketsTable = Tickets.Where(t => t.Status == "open").ToList();
		}
	}

	public void ShowClosed()
	{
		if (Tickets != null)
		{
			TicketsTable = Tickets.Where(t => t.Status == "closed").ToList();
		}
	}

	public void ShowAll()
	{
		if (Tickets != null)
		{
			TicketsTable = Tickets; 
		}
	}
}
