@page "/Projects/{projectid?}/Tickets/{id?}"
@model Tracker.Pages.Tickets.TicketModel

@{
	ViewData["Title"] = "Ticket";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.TicketDto.Title)</h2>

<div>
	<p>@Html.DisplayFor(model => model.TicketDto.Description)</p>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TicketDto.Priority)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TicketDto.Priority)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TicketDto.Type)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TicketDto.Type)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TicketDto.Status)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TicketDto.Status)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Submitter.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Submitter.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Assignee.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Assignee.Email)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TicketDto.Created)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TicketDto.Created)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.TicketDto.Closed)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.TicketDto.Closed)
		</dd>
	</dl>
</div>

<div>
	<form method="post">
		<input type="hidden" asp-for="Id" value="@Model.TicketDto.Id"/>
		<input type="submit" class="btn btn-primary" name="closeticket" value="Close" />
	</form>
	<br />
	<a asp-page="./Index" asp-route-projectid="@Model.TicketDto.ProjectId" class="btn btn-outline-primary">Back to List</a> |
	<a asp-page="./Edit" asp-route-id="@Model.TicketDto.Id" asp-route-projectid="@Model.TicketDto.ProjectId" class="btn btn-primary">Edit</a> |
	<a asp-page="./Delete" asp-route-id="@Model.TicketDto.Id" asp-route-projectid="@Model.TicketDto.ProjectId" class="btn btn-danger">Delete</a>
</div>

<div>
	<component type="typeof(Comments.Comments)" render-mode="Server" param-TicketId="@Model.TicketDto.Id" />
</div>