@page "/Projects/{id?}"
@model Tracker.Pages.Projects.ProjectModel

@{
	ViewData["Title"] = "Project";
	Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@Html.DisplayFor(model => model.Project.Name)</h1>
<h6>Started: @Html.DisplayFor(model => model.Project.Created)</h6>

<div>
	<h4>@Html.DisplayFor(model => model.Project.Description)</h4>
	<hr />
	<dl class="row">
		<div>
			<a asp-page="./Index" class="btn btn-outline-primary">Back to List</a> |
			<a asp-page="./Edit" asp-route-id="@Model.Project.Id" class="btn btn-primary">Edit</a> |
			<a asp-page="/Tickets/Index" asp-route-projectid="@Model.Project.Id" class="btn btn-primary">Tickets</a>
		</div>
		<br />
		<br />
		<div>
			<a asp-page="./Delete" asp-route-id="@Model.Project.Id" class="btn btn-danger">Delete</a>
		</div>
	</dl>
</div>